@model AllJobs.Models.AdvertisementListViewModel

@{
    ViewBag.Title = "All Jobs";
}

<link href="~/Content/Job2 CSS/J2-style-Copy.css" rel="stylesheet" />





<section class="job-form-section job-form-section--image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="job-form-box">
                    <h2 class="heading">Find a <span class="accent">job</span> you will <span class="accent">love</span>.</h2>
                        <div class="controls">
                            <div class="row">



                             

                                @using (Html.BeginForm("BrowseJobs", "Advertisements", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="profession" >Profession</label>
                                                <input type="text" id="profession" name="profession" placeholder="Profession you are looking for" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-5">

                                            <div class="form-group">
                                                <label for="location">Location</label>
                                                    @Html.DropDownList("LocationCategoryId", null, "Choose a location?", htmlAttributes: new { @class = "form-control" })
                                            </div>
                                        </div>
                                       

                                        <div class="col-sm-2">
                                            <button type="submit" name="name" class="btn btn-primary job-main-form__button"><i class="fa fa-search"></i></button>
                                        </div>
                                    }






                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h4 class="heading">Trending this month</h4>



        <div class="row">
            <div class="category-list">
                <div class="tab-box clearfix ">
                    <div class="adds-wrapper jobs-list">
                        <!-- Display all advertisements by making use of the shared view in the shared/display templte folder. -->
                        @if (Model.AllAdvertisements.Any())
                        {
                            @Html.DisplayFor(x => x.AllAdvertisements)
                        }
                        else
                        {
                            <div class="col-md-4 col-sm-6 col-xs-10">No Advertisements Available</div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Testimonial Section - Will be Dynamic -->
<section style="background: #fafafa;" class="section testimonails">
    <div class="container">
        <h4 class="heading">What our customers say</h4>
        <p class="lead text-center">One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.  </p>
        <div class="row">
            <div class="col-md-12">
                <ul class="owl-carousel testimonials same-height-row">
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="name-picture">
                                    <img alt="" src="~/img/person-1.jpg">
                                    <h5>John McIntyre</h5>
                                    <p>CEO, TransTech</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="name-picture">
                                    <img alt="" src="~/img/person-2.jpg">
                                    <h5>John McIntyre</h5>
                                    <p>CEO, TransTech</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                                <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="name-picture">
                                    <img alt="" src="~/img/person-3.png">
                                    <h5>John McIntyre</h5>
                                    <p>CEO, TransTech</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="name-picture">
                                    <img alt="" src="~/img/person-4.jpg">
                                    <h5>John McIntyre</h5>
                                    <p>CEO, TransTech</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <div class="testimonial same-height-always">
                            <div class="text">
                                <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad. Gregor then turned to look out the window at the dull weather. Drops of rain could be heard hitting the pane, which made him feel quite sad.</p>
                            </div>
                            <div class="bottom">
                                <div class="icon"><i class="fa fa-quote-left"></i></div>
                                <div class="name-picture">
                                    <img alt="" src="~/img/person-4.jpg">
                                    <h5>John McIntyre</h5>
                                    <p>CEO, TransTech</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section style="background-image: url('img/startup.jpg'); " class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! @Html.RouteLink("See Our Jobs Offers", "BrowseJobs", new { SearchFilter = "Search by Profession", DatePosted = 0, JobTypeName = "All", pay = 0, LocationName = "All Locations" }, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
</section>










